
<div class="large-6 large-centered columns">
<p>
  <strong>Photo:</strong>
  <%=image_tag @post.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>
<%= link_to "My Post", posts_path, :class=>"button expand"%>
</div>
